#capapymseo{width: 950px; max-width: 95%;}
#capapymseo .capapanel{padding:1rem;background:#FFF;margin-bottom:1rem;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc}
#capapymseo .nav-tab-active,.nav-tab-active:focus{background:#FFF;border-bottom:1px solid #fff;outline:none}
#capapymseo .wp-core-ui .button-primary{margin:1rem}
#capapymseo input[type=checkbox]{width:2.8rem;height:1.3rem;background:#ddd;border-radius:3rem;position:relative;cursor:pointer;transition: all .2s ease-in-out;appearance: none;margin-right:13px}
#capapymseo input[type=checkbox]:checked{background:#0ebeff}
#capapymseo input[type=checkbox]:after{position:absolute;content:"";width:1.2rem;height:1.2rem;border-radius:50%;background:#fff;box-shadow:0 0 .25rem rgba(0,0,0,.3);transform: scale(.7);left: 0;transition: all .2s ease-in-out}
#capapymseo input[type=checkbox]:checked:after{left: calc(100% - 1.3rem)}
#capapymseo input[type=checkbox]:checked:before{display:none}
#capapymseo input[type=checkbox]:focus{border-color:#b4b9be;box-shadow:none;outline:none}
#capapymseo TABLE{border-collapse: collapse;margin:1rem 0;width:100%;clear: both}
#capapymseo TABLE td{padding:.6rem 1rem}
#capapymseo .form-table th {padding:5px}
#capapymseo TEXTAREA{width:100%}
#capapymseo TH{width:260px;text-align:left;vertical-align:middle;font-size:14px}
#capapymseo .button{font-size:18px;width:auto;padding:.7rem 2rem;height:auto}
.medalla{padding:2px 8px;display:initial;font-weight:normal;font-size:11px;border-radius:.3rem;color:#fff;margin:0 .5rem;float:right}
.bverde,.bcorrecto{background:#46b450}.brojo,.berror{background:#dc3232}.bnaranja,.baviso{background:#FF6501}
.tmays{text-transform:uppercase}